<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="eulerFilter" value="true"/>
		<add key="filterPrecision" value="0.25"/>
		<add key="exportAllNodes" value="true"/>
		<add key="exportSkins" value="true"/>
		<add key="exportAnimations" value="true"/>
		<add key="exportBlendShape" value="true"/>
		<add key="castToBone" value="false"/>
		<add key="boneSize" value="10"/>
		<add key="exportAllUvsAsDiffuseMaps" value="false"/>
		<add key="scaleFactor" value="1"/>
		<add key="fbxVersion" value="3"/>
		<add key="fbxFormat" value="0"/>

	</appSettings>
</configuration>